.top-container{
    position: relative;
    background-color: cornflowerblue;
    margin: auto;
    height: 100px;
    width: 99%;
    border-radius: 15px;
}
.head-title{
    position: absolute;
    margin-top: 35px;
    color: white;
}
.left-container{
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 5px;
    background-color: white;
    height: 750px;
    width: 200px;
    border-radius: 15px;
}
.head_photo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 10px;
    top: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #f441a5;
    z-index: 3;
    cursor: pointer;
    background-image: url("icon/avatar.png");
    background-size: cover;
}
#content1{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    background-color: white;
    cursor: pointer;
}
#content2{
    position: relative;
    margin-top: -21px;
    width: 100%;
    height: 40px;
    background-color: white;
    cursor: pointer;
}
#content3{
    position: relative;
    margin-top: -21px;
    width: 100%;
    height: 40px;
    background-color: white;
    cursor: pointer;
}
#content1:hover{
    background-color: #888888;
}
#content2:hover{
    background-color: #888888;
}
#content3:hover{
    background-color: #888888;
}
#pwdIcon{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("icon/pwd.png");
    background-size: cover;
    top: 10px;
    left: 10px;
}
#returnIcon{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("icon/return.png");
    background-size: cover;
    top: 10px;
    left: 10px;
}
#personInfoIcon{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("icon/person_info.png");
    background-size: cover;
    top: 10px;
    left: 10px;
}
#content1 h4{
    left: 40px;
    top: 9px;
    position: relative;
}
#content2 h4{
    left: 40px;
    top: 9px;
    position: relative;
}
#content3 h4{
    left: 40px;
    top: 9px;
    position: relative;
}
.right-container{
    position: relative;
    margin-top: 30px;
    margin-left: 230px;
    height: 750px;
    width: 85%;
    border-radius: 15px;
    background-color: white;
}
#head_photo{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 80px;
    top: 60px;
    display: inline-block;
    border-radius: 50%;
    background-color: #f441a5;
    z-index: 3;
    background-image: url("icon/avatar.png");
    background-size: cover;
}
#change_photo{
    position: absolute;
    left: 180px;
    top: 85px;
    cursor: pointer;
}
.form-group {
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 70px 200px; /* 设置两列，第一列宽度为100px，第二列自动填充剩余空间 */
    align-items: center; /* 垂直居中对齐 */
    column-gap: 10px; /* 设置列间距，调整label和input之间的间距 */
    padding-bottom: 5px; /* 设置label之间的垂直间距 */
}
label{
    width: 100px;
    text-align: left;/* 让label文本右对齐 */
    margin-left: 10px; /* 调整label和input之间的间距 */
}
.remain{
    width: 200px;
    height: 25px;
    background-color: #0052cc;
    border: 3px #45CBFF;
    color: white;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 3px;
}
.remain:hover{
    background-color: #1F64CA;
}
.form_pwd{
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px 200px; /* 设置两列，第一列宽度为100px，第二列自动填充剩余空间 */
    align-items: center; /* 垂直居中对齐 */
    column-gap: 10px; /* 设置列间距，调整label和input之间的间距 */
    padding-bottom: 5px; /* 设置label之间的垂直间距 */
}
#re_pwd{
    width: 200px;
    height: 25px;
    background-color: #0052cc;
    border: 3px #45CBFF;
    color: white;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    margin-left: 110px;
    border-radius: 3px;
}
#re_pwd:hover{
    background-color: #1F64CA;
}