* {
    padding: 0;
}
.top-container{
    position: absolute;
    background-color: cornflowerblue;
    top: 20px;
    margin: auto;
    height: 100px;
    width: 99%;
    border-radius: 15px;
}
.head-title{
    position: absolute;
    margin-top: 35px;
    color: white;
}
body {
    background-color: rgb(154, 202, 210);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#calendar {
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    right: 50px;
    top: 165px;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.12);
}

.header {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h3 {
    margin: 0;
}

.header .skipToToday {
    width: 80px;
}

.header .btn-group {
    display: flex;
}

.header button {
    width: 35px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid currentColor;
    color: #aaa;
    background-color: transparent;
    cursor: pointer;
}

.header .btn-group .left {
    border-radius: 14px 0 0 14px;
}
.header .btn-group .right {
    border-radius: 0 14px 14px 0;
    border-left: 0;
}

button:active {
    background-color: rgba(0, 0, 0, 0.06);
}

.week {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

li {
    list-style: none;
    color: #888;
}

#content {
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: repeat(6, 100px)
}

#content div {
    all: unset;
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0 2px;
}

#content div:active {
    background-color: rgb(203, 233, 249);
    transition: 0s;
}

#content .grey {
    color: #ccc
}

#content .selected {
    background-color: skyblue;
    font-weight: bolder;
    color: #CE000E;
}

#content .today {
    font-weight: 900;
    color: rgb(49, 175, 225)
}

#content .selected.today {
    font-weight: bolder;
    color: #fff;
}
.modal{
    display: none; /* 默认隐藏 */
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 340px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
    backdrop-filter: blur(10px);
}
.close-button {
    color: #aaa;
    position: relative;
    top: -15px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#ac_content{
    height: 40px;
}